<!DOCTYPE html>
<html lang="en">
    <%- include("templates/head", {}) %>
    <body style="background-color: khaki;">
        <div style="text-align: center;">
            <h1 class="container"><%= name %></h1>

            <h2 style="padding:120px">Para ir a los productos, haz click <a href="http://localhost:8080/api/productos">por aca</a></h2>
        </div>
    </body>
</html>